<h1>Create Gallerys Page</h1>
<h3>Add a new gallery below!</h3>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add New Gallery!</h3>
  </div>
  <div class="panel-body">
    <div>

      <div>
        <label>Gallery Name:</label>
        <br>
        <input #newgalleryName>
      </div>

      <div>
        <label>Gallery Artist:</label>
        <br>
        <input #newgalleryCreator>
      </div>

      <div>
        <label>Gallery Description:</label>
        <br>
        <textarea #newgalleryDescription></textarea>
      </div>

    </div>
      <button (click)="submitForm(
      newgalleryName.value,
      newgalleryCreator.value,
      newgalleryDescription.value
      );

      newgalleryName.value='';
      newgalleryCreator.value='';
      newgalleryDescription.value='';
      ">Add</button>
  </div>
</div>


<ul *ngFor="let gallery of gallerys | async"  class="">
  <li class=""><p>Below is a short list of all galleries</p>
    <p><em>{{gallery.galleryName}}</em></p>
  </li>
</ul>
