<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">DeviantArt</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="gallery">View Gallerys</a></li>
      <li><a routerLink="create">Create Gallerys</a></li>
      <li><a routerLink="update">Update Gallerys</a></li>
      <li><a routerLink="delete">Delete Gallerys</a></li>
    </ul>
  </div>
</nav>

<h1>{{title}}</h1>

<router-outlet></router-outlet>
